parameters:

  level: 7

  paths:
    - src
    - drush
    - tests

  ignoreErrors:
    # \PDO::sqliteCreateCollation not identified by PHPStan.
    - "#^Call to an undefined method PDO::sqliteCreateCollation\\(\\)#"
