parameters:

  level: 2

  paths:
    - src
    - drush
    - tests

  ignoreErrors:
    # \PDO::sqliteCreateCollation not identified by PHPStan
    - "#^Call to an undefined method PDO::sqliteCreateCollation\(\)#"
