name: MySql Testing

on:
  push:
    branches: [ master ]
  schedule:
    - cron: "0 6 * * 2"

env:
    DRUDBAL_DRUPAL_VERSION: "9.2.x"
    DRUDBAL_DRUPAL_PROFILE: "standard"
    SIMPLETEST_BASE_URL: "http://localhost:8080"
    PHPUNIT_SKIP_CLASS: '[
      "Drupal\\KernelTests\\Core\\Database\\DatabaseExceptionWrapperTest",
      "Drupal\\KernelTests\\Core\\Cache\\ApcuBackendTest",
      "Drupal\\KernelTests\\Core\\Cache\\EndOfTransactionQueriesTest",
      "Drupal\\Tests\\views\\Kernel\\ViewElementTest"
    ]'

jobs:

#################################

  mysql-pdo:
    name: "MySql with PDO"
    runs-on: ubuntu-latest
    env:
        DRUDBAL_ENV: "dbal/mysql"
        DBAL_URL: "mysql://root:@0.0.0.0:3306/drudbal"
        SIMPLETEST_DB: "dbal://root:@0.0.0.0:3306/drudbal?module=drudbal&dbal_driver=pdo_mysql"

    strategy:
      matrix:
        php-version:
          - "7.4"
        test-args:
          - "--group Database"
          - "--group Entity"
          - "--group Cache,Config"
          - "--group field,Field"
          - "--group file"
          - "--group views"

    services:
      mysql:
        image: "mysql:5.7"
        options: >-
          -e MYSQL_ALLOW_EMPTY_PASSWORD=yes
          -e MYSQL_DATABASE=drudbal
        ports:
          - "3306:3306"

    steps:
    - name: Install PHP
      uses: "shivammathur/setup-php@v2"
      with:
        php-version: "${{ matrix.php-version }}"
        coverage: "none"
        extensions: "pdo_mysql"
        ini-values: "zend.assertions=1"

    - name: Checkout Drupal
      run: git clone --depth=5 --branch=$DRUDBAL_DRUPAL_VERSION http://git.drupal.org/project/drupal.git .

    - name: Checkout DruDbal
      uses: actions/checkout@v2
      with:
        path: drudbal_staging

    - name: Patch Drupal
      run: ./drudbal_staging/tests/github/drupal_patch.sh

    - name: Install Composer dependencies
      run: |
        composer install --no-progress --ansi
        composer run-script drupal-phpunit-upgrade
        composer require drush/drush --no-progress --ansi

    - name: Composer require DruDbal from local staging
      run: |
        git -C drudbal_staging checkout -b travisci-run-branch
        composer config repositories.travisci-run '{"type": "path", "url": "drudbal_staging", "options": {"symlink": false}}'
        composer require "mondrake/drudbal:dev-travisci-run-branch" --no-progress --ansi

    - name: Install Drupal
      run: |
        cp modules/contrib/drudbal/tests/travis_ci/install_* .
        # Use the custom installer.
        php install_cli.php
        vendor/bin/drush runserver localhost:8080 &
        sleep 1s

    - name: Report installation
      run: |
        php install_report.php
        vendor/bin/drush core:status
        vendor/bin/drush core:requirements
        vendor/bin/drush pml --type=module --no-core

    - name: Run test ${{ matrix.test-args }}
      run: vendor/bin/phpunit -c core --color=always ${{ matrix.test-args }}

#################################

  mysql-mysqli:
    name: "MySql with mysqli"
    runs-on: ubuntu-latest
    env:
        DRUDBAL_ENV: "dbal/mysqli"
        DBAL_URL: "mysqli://root:@0.0.0.0:3306/drudbal"
        SIMPLETEST_DB: "dbal://root:@0.0.0.0:3306/drudbal?module=drudbal&dbal_driver=mysqli"

    strategy:
      matrix:
        php-version:
          - "7.4"
        test-args:
          - "--group Database"
          - "--group Entity"

    services:
      mysql:
        image: "mysql:5.7"
        options: >-
          -e MYSQL_ALLOW_EMPTY_PASSWORD=yes
          -e MYSQL_DATABASE=drudbal
        ports:
          - "3306:3306"

    steps:
    - name: Install PHP
      uses: "shivammathur/setup-php@v2"
      with:
        php-version: "${{ matrix.php-version }}"
        coverage: "none"
        extensions: "mysqli"
        ini-values: "zend.assertions=1"

    - name: Checkout Drupal
      run: git clone --depth=5 --branch=$DRUDBAL_DRUPAL_VERSION http://git.drupal.org/project/drupal.git .

    - name: Checkout DruDbal
      uses: actions/checkout@v2
      with:
        path: drudbal_staging

    - name: Patch Drupal
      run: ./drudbal_staging/tests/github/drupal_patch.sh

    - name: Install Composer dependencies
      run: |
        composer install --no-progress --ansi
        composer run-script drupal-phpunit-upgrade
        composer require drush/drush --no-progress --ansi

    - name: Composer require DruDbal from local staging
      run: |
        git -C drudbal_staging checkout -b travisci-run-branch
        composer config repositories.travisci-run '{"type": "path", "url": "drudbal_staging", "options": {"symlink": false}}'
        composer require "mondrake/drudbal:dev-travisci-run-branch" --no-progress --ansi

    - name: Install Drupal
      run: |
        cp modules/contrib/drudbal/tests/travis_ci/install_* .
        # Use the custom installer.
        php install_cli.php
        vendor/bin/drush runserver localhost:8080 &
        sleep 1s

    - name: Report installation
      run: |
        php install_report.php
        vendor/bin/drush core:status
        vendor/bin/drush core:requirements
        vendor/bin/drush pml --type=module --no-core

    - name: Run test ${{ matrix.test-args }}
      run: vendor/bin/phpunit -c core --color=always ${{ matrix.test-args }}

#################################

  mariadb-pdo:
    name: "MariaDb with PDO"
    runs-on: ubuntu-latest
    env:
        DRUDBAL_ENV: "dbal/mariadb"
        DBAL_URL: "mysql://root:@0.0.0.0:3306/drudbal"
        SIMPLETEST_DB: "dbal://root:@0.0.0.0:3306/drudbal?module=drudbal&dbal_driver=pdo_mysql"

    strategy:
      matrix:
        php-version:
          - "7.4"
        test-args:
          - "--group Database"
          - "--group Entity"

    services:
      mariadb:
        image: "mariadb:10.5"
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: "drudbal"
        ports:
          - "3306:3306"

    steps:
    - name: Install PHP
      uses: "shivammathur/setup-php@v2"
      with:
        php-version: "${{ matrix.php-version }}"
        coverage: "none"
        extensions: "pdo_mysql"
        ini-values: "zend.assertions=1"

    - name: Checkout Drupal
      run: git clone --depth=5 --branch=$DRUDBAL_DRUPAL_VERSION http://git.drupal.org/project/drupal.git .

    - name: Checkout DruDbal
      uses: actions/checkout@v2
      with:
        path: drudbal_staging

    - name: Patch Drupal
      run: ./drudbal_staging/tests/github/drupal_patch.sh

    - name: Install Composer dependencies
      run: |
        composer install --no-progress --ansi
        composer run-script drupal-phpunit-upgrade
        composer require drush/drush --no-progress --ansi

    - name: Composer require DruDbal from local staging
      run: |
        git -C drudbal_staging checkout -b travisci-run-branch
        composer config repositories.travisci-run '{"type": "path", "url": "drudbal_staging", "options": {"symlink": false}}'
        composer require "mondrake/drudbal:dev-travisci-run-branch" --no-progress --ansi

    - name: Install Drupal
      run: |
        cp modules/contrib/drudbal/tests/travis_ci/install_* .
        # Use the custom installer.
        php install_cli.php
        vendor/bin/drush runserver localhost:8080 &
        sleep 1s

    - name: Report installation
      run: |
        php install_report.php
        vendor/bin/drush core:status
        vendor/bin/drush core:requirements
        vendor/bin/drush pml --type=module --no-core

    - name: Run test ${{ matrix.test-args }}
      run: vendor/bin/phpunit -c core --color=always ${{ matrix.test-args }}
