name: Pull Request Testing

on:
  pull_request:
    branches: [ master ]

env:
    DRUDBAL_DRUPAL_VERSION: "9.3.x"
    DRUDBAL_DRUPAL_PROFILE: "standard"
    SIMPLETEST_BASE_URL: "http://localhost:8080"
    PHPUNIT_SKIP_CLASS: '[
      "Drupal\\KernelTests\\Core\\Database\\BasicSyntaxTest",
      "Drupal\\KernelTests\\Core\\Database\\ConnectionUnitTest",
      "Drupal\\KernelTests\\Core\\Database\\DatabaseExceptionWrapperTest",
      "Drupal\\KernelTests\\Core\\Database\\SchemaTest",
      "Drupal\\KernelTests\\Core\\Database\\StatementWrapperLegacyTest",
      "Drupal\\KernelTests\\Core\\Database\\StatementTest",
      "Drupal\\KernelTests\\Core\\Cache\\ApcuBackendTest",
      "Drupal\\KernelTests\\Core\\Cache\\EndOfTransactionQueriesTest",
      "Drupal\\Tests\\system\\Functional\\Database\\TemporaryQueryTest"
    ]'
    DRUPAL_TEST_RESULTS_DB: "sites/test_results.sqlite"

jobs:

#################################

  sqlite-pdo:
    name: "SQLite with PDO"
    runs-on: ubuntu-20.04
    env:
        DRUDBAL_ENV: "dbal/sqlite/file"
        DBAL_URL: "sqlite://localhost/sites/drudbal.sqlite"
        SIMPLETEST_DB: "dbal://localhost/sites/drudbal.sqlite?module=drudbal&dbal_driver=pdo_sqlite"

    strategy:
      fail-fast: false
      matrix:
        php-version:
#          - "7.4"
          - "8.0"
        test-args:
          - "--group Database"

    steps:
    - name: Install PHP
      uses: "shivammathur/setup-php@v2"
      with:
        php-version: "${{ matrix.php-version }}"
        coverage: "none"
        extensions: "pdo_mysql"
        ini-values: "zend.assertions=1"

    - name: Checkout Drupal
      run: git clone --depth=5 --branch=$DRUDBAL_DRUPAL_VERSION http://git.drupal.org/project/drupal.git .

    - name: Checkout DruDbal
      uses: actions/checkout@v2
      with:
        path: drudbal_staging

    - name: Patch Drupal
      run: ./drudbal_staging/tests/github/drupal_patch.sh

    - name: Install Composer dependencies
      run: |
        composer install --no-progress --ansi
        composer run-script drupal-phpunit-upgrade
        composer require drush/drush --no-progress --ansi

    - name: Composer require DruDbal from local staging
      run: |
        git -C drudbal_staging checkout -b test-run-branch
        composer config repositories.test-run '{"type": "path", "url": "drudbal_staging", "options": {"symlink": false}}'
        composer require "mondrake/drudbal:dev-test-run-branch" --no-progress --ansi

#    - name: Install Drupal
#      run: |
#        cp modules/contrib/drudbal/tests/github/install_* .
#        # Use the custom installer.
#        php install_cli.php
#        vendor/bin/drush runserver localhost:8080 &
#        sleep 1s

#    - name: Report installation
#      run: |
#        php install_report.php
#        vendor/bin/drush core:status
#        vendor/bin/drush core:requirements
#        vendor/bin/drush pml --type=module --no-core

    - name: Run test ${{ matrix.test-args }}
      run: vendor/bin/phpunit -c core --color=always ${{ matrix.test-args }}

#################################

  mysql-pdo:
    name: "MySql with PDO"
    runs-on: ubuntu-latest
    env:
        DRUDBAL_ENV: "dbal/mysql"
        DBAL_URL: "mysql://root:@0.0.0.0:3306/drudbal"
        SIMPLETEST_DB: "dbal://root:@0.0.0.0:3306/drudbal?module=drudbal&dbal_driver=pdo_mysql"

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.4"
        test-args:
          - "--group Database"
#          - "--group Entity"
#          - "--group Cache,Config"
#          - "--group field,Field"
#          - "--group file"
#          - "--group views"

    services:
      mysql:
        image: "mysql:5.7"
        options: >-
          -e MYSQL_ALLOW_EMPTY_PASSWORD=yes
          -e MYSQL_DATABASE=drudbal
        ports:
          - "3306:3306"

    steps:
    - name: Install PHP
      uses: "shivammathur/setup-php@v2"
      with:
        php-version: "${{ matrix.php-version }}"
        coverage: "none"
        extensions: "pdo_mysql"
        ini-values: "zend.assertions=1"

    - name: Checkout Drupal
      run: git clone --depth=5 --branch=$DRUDBAL_DRUPAL_VERSION http://git.drupal.org/project/drupal.git .

    - name: Checkout DruDbal
      uses: actions/checkout@v2
      with:
        path: drudbal_staging

    - name: Patch Drupal
      run: ./drudbal_staging/tests/github/drupal_patch.sh

    - name: Install Composer dependencies
      run: |
        composer install --no-progress --ansi
        composer run-script drupal-phpunit-upgrade
        composer require drush/drush --no-progress --ansi

    - name: Composer require DruDbal from local staging
      run: |
        git -C drudbal_staging checkout -b test-run-branch
        composer config repositories.test-run '{"type": "path", "url": "drudbal_staging", "options": {"symlink": false}}'
        composer require "mondrake/drudbal:dev-test-run-branch" --no-progress --ansi

#    - name: Install Drupal
#      run: |
#        cp modules/contrib/drudbal/tests/github/install_* .
#        # Use the custom installer.
#        php install_cli.php
#        vendor/bin/drush runserver localhost:8080 &
#        sleep 1s

#    - name: Report installation
#      run: |
#        php install_report.php
#        vendor/bin/drush core:status
#        vendor/bin/drush core:requirements
#        vendor/bin/drush pml --type=module --no-core

    - name: Run test ${{ matrix.test-args }}
      run: vendor/bin/phpunit -c core --color=always ${{ matrix.test-args }}
