name: Pull Request Testing

on:
  pull_request:
    branches: [ master ]

env:
    DRUDBAL_DRUPAL_VERSION: "9.2.x"
    DRUDBAL_DRUPAL_PROFILE: "standard"
    SIMPLETEST_BASE_URL: "http://localhost:8080"
    PHPUNIT_SKIP_CLASS: '[
      "Drupal\\KernelTests\\Core\\Database\\BasicSyntaxTest",
      "Drupal\\KernelTests\\Core\\Database\\ConnectionUnitTest",
      "Drupal\\KernelTests\\Core\\Database\\DatabaseExceptionWrapperTest",
      "Drupal\\KernelTests\\Core\\Database\\SchemaTest",
      "Drupal\\KernelTests\\Core\\Database\\StatementWrapperLegacyTest",
      "Drupal\\KernelTests\\Core\\Cache\\ApcuBackendTest",
      "Drupal\\KernelTests\\Core\\Cache\\EndOfTransactionQueriesTest"
    ]'
    DRUPAL_TEST_RESULTS_DB: "sites/test_results.sqlite"

jobs:

#################################

  oracle-pdo:
    name: "Oracle with PDO"
    runs-on: ubuntu-20.04
    env:
        DRUDBAL_ENV: "dbal/pdo_oci"
        DBAL_URL: "pdo-oci://DRUDBAL:ORACLE@0.0.0.0:1521/XE"
        SIMPLETEST_DB: "dbal://DRUDBAL:ORACLE@0.0.0.0:1521/XE?module=drudbal&dbal_driver=pdo_oci#dru"

    services:
      oracle:
        image: "wnameless/oracle-xe-11g-r2"
        ports:
          - "1521:1521"

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.4"
        test-args:
          - "--group Database"
#          - "--group Entity"
#          - "--group Cache,Config"
#          - "--group field,Field"
#          - "--group file"

    steps:
    - name: Install PHP
      uses: "shivammathur/setup-php@v2"
      with:
        php-version: "${{ matrix.php-version }}"
        coverage: "none"
        extensions: "pdo_oci"
        ini-values: "zend.assertions=1"

    - name: Checkout Drupal
      run: git clone --depth=5 --branch=$DRUDBAL_DRUPAL_VERSION http://git.drupal.org/project/drupal.git .

    - name: Checkout DruDbal
      uses: actions/checkout@v2
      with:
        path: drudbal_staging

    - name: Patch Drupal
      run: ./drudbal_staging/tests/github/drupal_patch.sh

#    - name: Test Drupal patch
#      run: git apply -v drudbal_staging/test.patch

    - name: Install Composer dependencies
      run: |
        composer install --no-progress --ansi
        composer run-script drupal-phpunit-upgrade
        composer require drush/drush --no-progress --ansi

    - name: Composer require DruDbal from local staging
      run: |
        git -C drudbal_staging checkout -b test-run-branch
        composer config repositories.test-run '{"type": "path", "url": "drudbal_staging", "options": {"symlink": false}}'
        composer require "mondrake/drudbal:dev-test-run-branch" --no-progress --ansi

    - name: Patch doctrine/dbal
      run: |
        patch -d vendor/doctrine/dbal -p1 < modules/contrib/drudbal/tests/github/dbal/pdo_oci/dbal.patch
#        curl https://patch-diff.githubusercontent.com/raw/mondrake/dbal/pull/2.patch | patch -d vendor/doctrine/dbal -p1

    - name: Create Oracle schema
      run: |
        cp modules/contrib/drudbal/tests/github/install_* .
        php install_oracle.php

#    - name: Install Drupal
#      run: |
#        # Use the custom installer.
#        php install_cli.php
#        vendor/bin/drush runserver localhost:8080 &
#        sleep 5s

#    - name: Report installation
#      continue-on-error: true
#      run: |
#        php install_report.php
#        vendor/bin/drush pml --type=module --no-core
#        vendor/bin/drush core:status
#        vendor/bin/drush core:requirements

    - name: Run test ${{ matrix.test-args }}
      continue-on-error: true
      run: vendor/bin/phpunit -c core --color=always ${{ matrix.test-args }}

#    - name: Run test a
#      continue-on-error: true
#      run: vendor/bin/phpunit -c core --color=always modules/contrib/drudbal/tests/src/Kernel/SchemaTest.php

#    - name: Run test b
#      continue-on-error: true
#      run: vendor/bin/phpunit -c core --color=always core/tests/Drupal/KernelTests/Core/Database/InsertTest.php

#    - name: Run test c
#      continue-on-error: true
#      run: vendor/bin/phpunit -c core --color=always core/tests/Drupal/KernelTests/Core/Entity/EntityDefinitionUpdateTest.php

#    - name: Run test d
#      continue-on-error: true
#      run: vendor/bin/phpunit -c core --color=always core/tests/Drupal/KernelTests/Core/Entity/EntityCrudHookTest.php

#    - name: Run test e
#      continue-on-error: true
#      run: vendor/bin/phpunit -c core --color=always core/tests/Drupal/KernelTests/Core/Entity/EntityQueryAggregateTest.php
